<%= form_with(model: medicine) do |form| %>
  <% if medicine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medicine.errors.count, "error") %> prohibited this medicine from being saved:</h2>

      <ul>
        <% medicine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :medicine_name, "Medicine/Injection*", class: 'form-label' %>
    <%= form.select :medicine_name, Medicine.medicine_names.keys.map{|med| [med.humanize, med]}, {include_blank: 'Select'} ,{class: 'form-select', required: true}%>
  </div>

  <div class="field">
    <%= form.label :phone, "Phone*", class: 'form-label' %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :alternate_phone, "Alternate Phone", class: 'form-label' %>
    <%= form.text_field :alternate_phone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address, 'Address (optional)', class: 'form-label' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :city_id, "City", class: 'form-label' %>
    <%= form.select :city_id, City.all.map{|city| ["#{city.name}, #{city.state}", city.id]}, {include_blank: 'Select'} ,{class: 'form-select city-select', required: true}%>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
