<% content_for :meta do %>
  <title>
    India Beats Covid
  </title>
  <meta name="og:title" content="India Beats Covid">
  <meta name="description" content="Let's help COVID patients with accurate information of Plasma Donors, Hospitals with ICU Beds and Oxygen Suppliers in our cities in India">
  <meta name="twitter:title" content="India Beats Covid">
  <meta name="twitter:description" content="Let's help COVID patients with accurate information of Plasma Donors, Hospitals with ICU Beds and Oxygen Suppliers in our cities in India">
<% end %>

<div id="page-home">
  <p id="notice"><%= notice %></p>

  <section class="header">
    <h1>
      COVID-19 Recovery Help
    </h1>
    <h4>
      This is an effort to bring together and verify all the contacts of the needed resources for people fighting COVID-19 in our country India.
    </h4>
    <p>
      We have a small team of volunteers who are regularly verifying all the contacts submitted.
    </p>
  </section>


  <section class="main d-flex flex-md-row flex-column align-items-stretch flex-fill gap-3">
    <%= button_to plasma_donors_path, class: 'btn btn-outline-primary btn-lg', method: :get do %>
       Plasma Donors
      <br/>
      <small>
        Total: <%= @plasma_donors[0] %>
      </small>
      <small>
        Last Updated: <%= !@plasma_donors[1].blank? ?  time_ago_in_words(@plasma_donors[1].updated_at) : 'NA' %>
      </small>
    <% end %>

    <%= button_to hospital_beds_path, class: 'btn btn-outline-primary btn-lg', method: :get do %>
       Hospital With Beds
      <br/>
      <small>
        Total: <%= @hospital_beds[0] %>
      </small>
      <small>
        Last Updated: <%= !@hospital_beds[1].blank? ?  time_ago_in_words(@hospital_beds[1].updated_at) : 'NA' %>
      </small>
    <% end %>

    <%= button_to oxygen_suppliers_path, class: 'btn btn-outline-primary btn-lg', method: :get do %>
       Oxygen Suppliers
      <br/>
      <small>
        Total: <%= @oxygen_suppliers[0] %>
      </small>
      <small>
        Last Updated: <%= !@oxygen_suppliers[1].blank? ?  time_ago_in_words(@oxygen_suppliers[1].updated_at) : 'NA' %>
      </small>
    <% end %>

    <%= button_to medicines_path, class: 'btn btn-outline-primary btn-lg', method: :get do %>
       COVID Medicine Suppliers
      <br/>
      <small>
        Total: <%= @medicines[0] %>
      </small>
      <small>
        Last Updated: <%= !@medicines[1].blank? ?  time_ago_in_words(@medicines[1].updated_at) : 'NA' %>
      </small>
    <% end %>
  </section>

  <section class="main d-flex mt-5 flex-md-row flex-column align-items-stretch flex-fill gap-3">
    <%= button_to new_plasma_donor_path, class: 'btn btn-info', method: :get do %>
      Add Plasma Donor Contact
    <% end %>

    <%= button_to new_hospital_bed_path, class: 'btn btn-info', method: :get do %>
      Add Hospital Contact
    <% end %>

    <%= button_to new_oxygen_supplier_path, class: 'btn btn-info', method: :get do %>
      Add Oxygen Supplier Contact
    <% end %>

    <%= button_to new_medicine_path, class: 'btn btn-info', method: :get do %>
      Add Medicine/Injection Supplier Contact
    <% end %>
  </section>

  <section class="volunteer-reg-link">
    <h5>
      If you can bring in more contacts or can help us verify the contacts being received, please
      <%= link_to 'click here to join as a volunteer from home', new_volunteer_path, target: '_blank' %>
    </h5>

    <div class="dropdown">
      <button class="btn btn-outline-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Share
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <div class="px-2 py-1">
            <%= social_share_button_tag('India Covid Info') %>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="external-links">

    <h3>Links to more COVID Resources by City</h3>
    <p>This is all the data available according to each city which people are sharing on different WhatsApp groups, Twitter and other social media apps.</p>

    <% if user_signed_in? %>

      <div class="my-3">
        <%= link_to 'Add External Link', new_external_link_path, class: 'btn btn-info' %>
      </div>

    <% end %>

    <div class="select-city">
      <h6>
        Filter by City
        <small>
          <%= link_to 'Clear', root_path %>
        </small>
      </h6>
      <%= form_with url: index_table_external_links_path, method: :get, local: false do |f| %>
        <%= f.select :city_id, City.all.map{|city| ["#{city.name}, #{city.state}", city.id]}, {selected: (@city.blank? ? nil : @city.id), include_blank: 'Select Your City'}, class: 'form-select city-select', :onchange => 'Rails.fire(this.form, "submit");' %>
      <% end %>

    </div>
    <%= render 'external_links/list_table' %>
  </section>

</div>
