<p id="notice"><%= notice %></p>

<h1>Hospital Beds</h1>

<table>
  <thead>
    <tr>
      <th>Hospital name</th>
      <th>Contact name</th>
      <th>Phone</th>
      <th>Alternate phone</th>
      <th>Address</th>
      <th>City</th>
      <th>Icu beds</th>
      <th>Beds</th>
      <th>Unavailable</th>
      <th>Fake</th>
      <th>Old</th>
      <th>Last verified at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hospital_beds.each do |hospital_bed| %>
      <tr>
        <td><%= hospital_bed.hospital_name %></td>
        <td><%= hospital_bed.contact_name %></td>
        <td><%= hospital_bed.phone %></td>
        <td><%= hospital_bed.alternate_phone %></td>
        <td><%= hospital_bed.address %></td>
        <td><%= hospital_bed.city_id %></td>
        <td><%= hospital_bed.icu_beds %></td>
        <td><%= hospital_bed.beds %></td>
        <td><%= hospital_bed.unavailable %></td>
        <td><%= hospital_bed.fake %></td>
        <td><%= hospital_bed.old %></td>
        <td><%= hospital_bed.last_verified_at %></td>
        <td><%= link_to 'Show', hospital_bed %></td>
        <td><%= link_to 'Edit', edit_hospital_bed_path(hospital_bed) %></td>
        <td><%= link_to 'Destroy', hospital_bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hospital Bed', new_hospital_bed_path %>
