<% content_for :meta do %>
  <title>
    Hospitals With COVID-19 Beds
  </title>
  <meta name="og:title" content="Hospitals With COVID-19 Beds">
  <meta name="description" content="List of hospitals with beds for COVID-19 Patients">
  <meta name="twitter:title" content="Hospitals With COVID-19 Beds">
  <meta name="twitter:description" content="List of hospitals with beds for COVID-19 Patients">
<% end %>

<div id="page-hospital-beds-index">
  <p id="notice"><%= notice %></p>

  <h1>Hospital Beds</h1>
  <p>
    List of hospitals with beds for COVID-19 Patients
  </p>
  <div>

    <h4>
      <%= link_to 'Click Here', new_hospital_bed_path, class: 'btn btn-lg btn-primary' %>
      to share any information about available hospital beds. Our team will re-verify it too.
    </h4>
  </div>

  <div>
    <button onClick="window.location.reload();" class="btn btn-outline-secondary btn-sm">
      <i class="fas fa-redo"></i>
      Refresh Page
    </button>
  </div>


  <div class="table-container">
    <div class="select-city">
      <h6>
        Select Your City
        <% if !@city.blank? %>
        <small>
          <%= link_to 'Clear', hospital_beds_path %>
        </small>
        <% end %>
      </h6>
      <%= form_with url: hospital_beds_path, method: :get, local: true do |f| %>
        <%= f.select :city_id, City.all.map{|city| ["#{city.name}, #{city.state}", city.id]}, {selected: (@city.blank? ? nil : @city.id), include_blank: 'Select Your City'}, class: 'form-select city-select', :onchange => 'this.form.submit();' %>
      <% end %>

    </div>
    <table class="table table-hover">
      <thead>
      <tr class="table-primary">
        <th scope="col">City</th>
        <th scope="col">Time</th>
        <th scope="col">Hospital name</th>
        <th scope="col">Contact name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">ICU COVID beds</th>
        <th scope="col">Oxygen Beds</th>
        <% if user_signed_in? %>
        <th scope="col">Unavailable</th>
        <th scope="col">Fake</th>
        <th colspan="3"></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @hospital_beds.each do |hospital_bed| %>
        <tr>
          <td><%= hospital_bed.city.name %>, <%= hospital_bed.city.state %></td>
          <td>
            <span id="hospital-bed-verified-<%= hospital_bed.id %>">
              <% if hospital_bed.last_verified_at %>
             ✅ Verified: <%= time_ago_in_words(hospital_bed.last_verified_at) %>
                <br/>
                <br/>
              <% end %>
            </span>

            Submitted: <%= time_ago_in_words(hospital_bed.created_at) %>
          </td>
          <td><%= hospital_bed.hospital_name %></td>
          <td><%= hospital_bed.contact_name %></td>
          <td>
            <%= hospital_bed.phone %>
            <%= hospital_bed.alternate_phone %>
          </td>
          <td>
            <%= hospital_bed.address %>
          </td>
          <td><%= hospital_bed.icu_beds %></td>
          <td><%= hospital_bed.beds %></td>
          <% if user_signed_in? %>
            <td>
              <%= form_with url: update_unavailable_hospital_bed_path(id: hospital_bed.id), method: :post, local: false do |f| %>
                <%= f.select :unavailable, [['Yes', true], ['No', false]], {selected: hospital_bed.unavailable, remote: true}, :onchange => 'Rails.fire(this.form, "submit");' %>
              <% end %>
            </td>

            <td>
              <%= form_with url: update_fake_hospital_bed_path(id: hospital_bed.id), method: :post, local: false do |f| %>
                <%= f.select :fake, [['Yes', true], ['No', false]], {selected: hospital_bed.fake, remote: true}, :onchange => 'Rails.fire(this.form, "submit");' %>
              <% end %>
            </td>
          <td>
            <%= link_to 'Verified Just Now', update_last_verified_at_hospital_bed_path(id: hospital_bed.id), method: :post, remote: true, data: { confirm: 'Are you sure?' } %>
            <br/>
            <br/>
            <%= link_to 'Edit', edit_hospital_bed_path(hospital_bed) %>
          </td>
          <% if current_user.admin_permission? %>
            <td><%= link_to 'Destroy', hospital_bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
  <br>

  <h6>
    <%= link_to 'Click Here', new_hospital_bed_path, class: 'btn btn-primary btn-md' %>
    to share any information about available hospital beds. Our team will re-verify it too.
  </h6>

</div>