<div id="page-plasma-donor-index">
  <p id="notice"><%= notice %></p>

  <h1>Plasma Donors</h1>

  <div>

    <h4>
      <%= link_to 'Click Here', new_plasma_donor_path, class: 'btn btn-lg btn-primary' %>
      share your own or any other Plasma Donor's information. Our team will re-verify it too.
    </h4>
  </div>

  <div>
    <button onClick="window.location.reload();" class="btn btn-outline-secondary btn-sm">
      <i class="fas fa-redo"></i>
      Refresh Page
    </button>
  </div>

  <div class="table-container">
    <div class="select-city">
      <h6>
        Select Your City
        <% if !@city.blank? %>
          <small>
            <%= link_to 'Clear', hospital_beds_path %>
          </small>
        <% end %>
      </h6>
      <%= form_with url: plasma_donors_path, method: :get, local: true do |f| %>
        <%= f.select :city_id, City.all.map{|city| ["#{city.name}, #{city.state}", city.id]}, {selected: (@city.blank? ? nil : @city.id), include_blank: 'Select Your City'}, class: 'form-select city-select', :onchange => 'this.form.submit();' %>
      <% end %>

    </div>
    <table class="table table-hover">
      <thead>
      <tr class="table-primary">
        <th  scope="col">City</th>
        <th  scope="col">Pincode</th>
        <th  scope="col">Blood group</th>
        <th  scope="col">Time</th>
        <th  scope="col">Name</th>
        <th  scope="col">Phone</th>
        <th  scope="col">Alternate phone</th>

        <% if user_signed_in? %>
        <th  scope="col">Unavailable</th>
        <th  scope="col">Fake</th>
        <th colspan="3"></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @plasma_donors.each do |plasma_donor| %>
        <tr>
          <td><%= plasma_donor.city_id %></td>
          <td><%= plasma_donor.pincode %></td>
          <td><%= plasma_donor.blood_group %></td>
          <td>
            <% if plasma_donor.last_verified_at %>
              ✅ Verified: <%= time_ago_in_words(plasma_donor.last_verified_at) %>
              <br/>
              <br/>
            <% end %>

            Submitted: <%= time_ago_in_words(plasma_donor.updated_at) %>
          </td>
          <td><%= plasma_donor.name %></td>
          <td><%= plasma_donor.phone %></td>
          <td><%= plasma_donor.alternate_phone %></td>

          <% if user_signed_in? %>
          <td>
            <%= form_with url: update_unavailable_plasma_donor_path(id: plasma_donor.id), method: :post, local: false do |f| %>
              <%= f.select :unavailable, [['Yes', true], ['No', false]], {selected: plasma_donor.unavailable, remote: true}, :onchange => 'Rails.fire(this.form, "submit");' %>
            <% end %>
          </td>

          <td>
            <%= form_with url: update_fake_plasma_donor_path(id: plasma_donor.id), method: :post, local: false do |f| %>
              <%= f.select :fake, [['Yes', true], ['No', false]], {selected: plasma_donor.fake, remote: true}, :onchange => 'Rails.fire(this.form, "submit");' %>
            <% end %>
          </td>

          <td><%= link_to 'Edit', edit_plasma_donor_path(plasma_donor) %></td>
          <% if current_user.admin_permission? %>
              <td><%= link_to 'Destroy', plasma_donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>


  <div>

    <h6>
      <%= link_to 'Click Here', new_plasma_donor_path, class: 'btn btn-lg btn-primary' %>
      share your own or any other Plasma Donor's information. Our team will re-verify it too.
    </h6>
  </div>

</div>