<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="google-site-verification" content="9TrgpUtJ_V-kgvq3cATLAsC_mQP3FNin5btOKru4I7w" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'indiabeatscovid.png', :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <%= yield :meta %>

    <meta name="og:image" content="<%= image_url('indiabeatscovid.png') %>">
    <meta name="og:image:secure_url" content="<%= image_url('indiabeatscovid.png') %>">
    <meta name="og:type" content="Website">
    <meta name="twitter:image" content="<%= image_url('indiabeatscovid.png') %>">


    <%= yield :extra_styles %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>



    <div class="container main">
      <%= yield %>
    </div>


    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'noty.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'select2.min', 'data-turbolinks-track': 'reload' %>

    <script>
        $(document).ready(function() {
            $('.city-select').select2();
        });
    </script>
    <%= yield :page_scripts %>
  </body>
</html>
